.poster {
  margin-right: 20px;
  height: 100%;
  &__image {
    position: relative;
    &__img {
      border-radius: 10px;
      object-fit: cover;
      width: 150px;
      height: 250px;
    }
    &__vote {
      position: absolute;
      bottom:-33px;
    }
  }

  &__title {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    &__name {
      margin: 0;
      font-size: 1.5rem;
      font-weight: bold;
    }
    &__date {
      font-size: 1.2rem;
      color: var(--lightGrey);
    }
  }
 
}