.wrapper-poster-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width:720px ) {
  .wrapper-poster-info{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}