.searcher {
  width:100%;
  margin: 0 auto;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: turquoise;
  padding: 20px;
  margin-bottom: 30px;
  position: relative;
  &__image {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__h3 {
    margin: 0;
    color: white;
    font-size: 3rem;
  }
}
.input-group {
  position:relative;
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  input {
    outline:none;
    width:100%;
    height:40px;
    border:none;
    padding-left:20px;
    font-size:1.4rem;
    border-radius:10px;
  }
  button {
    width: 20%;
    border-radius: 0 10px 10px 0;
    position:absolute;
    outline:none;
    border:0;
    background-color: #032541;
    color:white;
    right:0;
    height:100%;
  }
}
@media screen and (min-width:1280px) {
  .searcher {
    &__h3 {
      padding: 0 300px 0 300px;
     
    }
  }
}