.switch-wrapper{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  &__ul {
    border-radius: 10px;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    li {
      cursor: pointer;
      border-right: 1px solid black;
      margin: 0;
      font-size: 1.2rem;
      color: black;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px;
      list-style: none;
    }
    li:last-child{
      border-right:none ;
    }
  }
}
@media screen and (min-width:720px) {
  .switch-wrapper{
    justify-content: flex-end;
    &__ul {
      margin-left: 10px;
    }
  }
}