html {
  font-family: 'Lato', sans-serif;
  font-size : 62.5%;
}
* {
  box-sizing:border-box;
}
.wrapper-padding {
  padding: 0 20px 0 20px;
}
body {
  color: white;
  // background-image: linear-gradient(to top right, rgb(101, 115, 255), rgb(111, 114, 247));
  background: black;
  height:100%;
  margin:0;
  padding:0;
  max-width: 1350px;
  width: 100%;
  margin: auto;
}
#app {
  height: 100%;
}