.wrap-poster { 
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-bottom: 20px;
}

.selector {
  // display: flex;
  max-width: 250px;
  text-align: center;
  border-radius: 5px;
  background-color: #032541;
  padding: 1rem;
  color: white;
  h2 {
    font-size: 2rem;
    margin: 0;
  }
}
