.poster-only-name{
  display: flex;
  margin-bottom: 15px ;
  img {
    border-radius: 5px ;
  }
  &__info {
    margin-left: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 1.4rem;
    
  }
}