.filter {
  background: white;
  color: black;
  &__h3 {
    background: #032541;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  .filter-list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;
    ul {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 45px;
      margin: 0;
      padding: 0;
      // overflow-x: scroll;
    }
    li {
      cursor: pointer;
      display: flex;
      color: gray;
      margin: 0 20px;
      font-size: 1.5rem;
      align-items:center ;
      span {
        border-radius: 5px;
        border: 1px solid gray;
        padding: 0 5px 0 5px;
        margin-left: 5px;
      }
    }
  }
}
@media screen and (min-width:768px ) {
  .filter {
    .filter-list {
      li {
        font-size: 2rem;
      }
    }
  }
}