.result-wrap {
  display: grid;
}
@media screen and (min-width:425px){
  .result-wrap{
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
  }
}
@media screen and (min-width:768px){
  .result-wrap{
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
  }
}