.detail-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
  &__title {
    display: flex;
    flex-direction: column;
    >h2 {
      font-size: 4rem;
      margin: 0;
    }
  }
  &__genre {
    margin-left: 10px;
    margin-bottom: 15px;
    span {      
      font-weight: 300;
      margin-right: 5px;
      font-size: 1.5rem;
    }
  }
  &__res {
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
    background-color: rgb(65, 67, 87);
    padding: 10px;
    h4 {
      margin: 0;
      font-size: 2rem;
      margin-bottom: 10px;
      color: white;
      text-transform: uppercase;
    }
    p {
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 25px;
      color: white;
    }
  }
}
@media screen and (min-width:720px ) {
  .detail-info{
    &__res {
      margin-top: 0;
      border-radius: 0;
      background:none;
      h4 {
        color: black;
      }
      p {
        width: 75%;
        color: black;
      }
    }
  }
}