.input-group {
  position:relative;
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  input {
    outline:none;
    width:100%;
    height:40px;
    border:none;
    padding-left:20px;
    font-size:1.4rem;
  }
  button {
    width: 20%;
    position:absolute;
    outline:none;
    border:0;
    background-color: #032541;
    color:white;
    right:0;
    height:100%;
  }
}