.wrap-poster-skeleton{
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  position:relative;
  height:100%;
}
.poster-skeleton {
  margin-right: 20px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  height:100%;
  &__image {
    position: relative;
    &__img {
      background: linear-gradient(270deg, #ffffff, #8d8d8d);
      background-size: 400% 400%;
      animation: loading infinite 2s;
      border-radius: 10px;
      width: 150px;
      height: 250px;
    }
    &__vote {
      position: absolute;
      bottom:-25px;
    }
  }

  &__title {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    &__name {
      background: linear-gradient(270deg, #ffffff, #8d8d8d);
      background-size: 400% 400%;
      height: 10px;
      margin: 0;
      font-size: 1.5rem;
      font-weight: bold;
      animation: loading 2s infinite;
    }
    &__date {
      background: linear-gradient(270deg, #ffffff, #8d8d8d);
      background-size: 400% 400%;
      height: 10px;
      width: 40px;
      margin: auto;
      margin-top: 10px;
      font-size: 1.2rem;
      color: var(--lightGrey);
      animation: loading 2s infinite;
    }
  }
}

@keyframes loading {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}