.poster-skeleton {
  margin-right: 20px;
  height: 350px;
  width: 150px;
  &__image {
    position: relative;
    &__img {
      animation: loading infinite 1s;
      background-color: white;
      border-radius: 10px;
      // object-fit: cover;
      width: 150px;
    }
    &__vote {
      position: absolute;
      bottom:-33px;
    }
  }

  &__title {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    &__name {
      margin: 0;
      font-size: 1.5rem;
      font-weight: bold;
    }
    &__date {
      font-size: 1.2rem;
      color: var(--lightGrey);
    }
  }
}
@keyframes loading {
  0% {
  background: rgba($color: #000000, $alpha: 1);
  }
  50% {
    background: rgba($color: #000000, $alpha: .0);
  }
  100% {
    background: rgba($color: #000000, $alpha: 1);
  }
}