.wrapper-listMovieTv{
  padding: 5px ;
}
.wrapper-detail-person{
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  &__left {
    justify-self: center;
    &__info {
      text-align: center;
    }
  }
  &__right {
    overflow: hidden;
  }
}
@media screen and (min-width:768px) {
  .wrapper-detail-person{
    grid-template-columns: 300px 1fr;
    &__right {
      margin-left: 25px;
    }
  }
}